body{
    background-color: #e5e5e5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 0 auto;
    justify-content: center;
}
header{
    background-color: #e5e5e5;
    padding: 30px;
    margin: 10px;
    text-align: center;
}
main{
    background-color: #e5e5e5;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex: 2;
}
article{
    flex-direction: column;
    padding: 50px;
}

#main-box{
    display: flex;
    flex: auto;
    padding: 30px;
    width: auto;
}
.main-nav{
    font-weight: bold;
    background-color: #e5e5e5;
}
.main-nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.main-nav ul li{
    padding: 20px;
}
.cont{
    background-color: rgb(232, 232, 131);
    margin: 20px;
    color: #000000;
}
.cont1{
    background-color: #14213d;
    margin: 20px;
    color: rgb(232, 232, 131);
}
#side-box{
    display: flex;
    height: 100vh;
    max-width: 150px;
}
footer p{
    padding: 30px;
    margin: 10px;
}

/* Custom styling for bootstrap navbar*/
.container-fluid{
    background-color: beige;
}
.navbar-brand{

    font-weight: bold;
    color:#200D37;
}
.navbar-toggler{
    background-color: rgb(213, 213, 191);
    border-width: 4px;
}

/* Custom css for bootstrap table*/

table{
    max-width: 70%;
    text-align: center;
    margin: auto;
    width: 60%; 

}
.table th{
    color: #fff;
    background-color: #d4d45a;
}

/* Custom css for bootstrap form*/

form{
    text-align: center;
    margin: 0 auto;
    width: 60%;
    background-color: #14213d;
}
form div{
    color: #ffffff;

}
.form-text{
    color: #ffffff;
}